<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.characterEncoding">UTF-8</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/module05hw</property>
        <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/module03hw?Timezone=UTC</property>-->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <!--!!Error executing DDL via JDBC  ->  MySQL5Dialect !!!-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <property name="show_sql">false</property>
        <property name="format_sql">true</property>

        <!-- Створення і оновлення структури БД -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- create - remove old scheme, create new, all data will lost
             update - update exist DB
             create-drop - remove old DB, create new, after close - remove DB
        -->

        <!-- Файли маппінгів -->
        <!--<mapping class="model.Skill"/>-->

        <!--<mapping class="model.Company"/>-->
        <!--<mapping class="model.Customer"/>-->
        <!--<mapping class="model.Developer"/>-->
        <!--<mapping class="model.Project"/>-->

        <mapping class="com.loban.servlet04.model.Manufacturer"/>
        <mapping class="com.loban.servlet04.model.Product"/>


    </session-factory>
</hibernate-configuration>